


<div class="row">      
    <div class="col-md-8">        
        <input id="filterbox" type="text" name="filterbox" class="filterbox col-sm-12 mb-3" placeholder="classname filter..."/>
        <div id="entitybox">
        </div>
    </div>
    <div class="col-md-3">
        <table class="table table-sm table-dark col-md-12" style="min-width: 100%">
            <thead>
                <tr>
                    <th style="width: 140px;">attr</th>
                    <th>value</th>
                </tr>
            </thead>
            <tbody id="stats-table">                
            </tbody>
        </table>
    </div>
</div>


<script id="table-template" type="text/x-handlebars-template">
    \{{#each itemdata}}
    <tr>
        <td>\{{@key}}</td>
        <td>\{{this}}</td>
    </tr>
    \{{/each}}
</script>
